.about__wrapper {
  margin-left: 80px;
  padding-top: 6px;
}

.about__wrapper p:first-child {
  margin: 0;
  margin-bottom: 34px;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.about__wrapper p:first-child + p {
  position: relative;
  margin: 0;
  margin-bottom: 21px;
  padding-left: 28px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 22px;
    background-image: url("../img/icon-pin.svg");
  }
}

.about__phone {
  position: relative;
  display: block;
  margin: 0;
  padding-bottom: 10px;
  padding-left: 28px;
  text-decoration: none;
  color: $color-black;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-phone.svg");
  }

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: $tablet-width) {
  .about__wrapper {
    margin-left: 0;
  }

  .about__wrapper p:first-child {
    margin-bottom: 27px;
  }

  .about__wrapper p:first-child + p {
    &::before {
      top: 4px;
    }
  }
}

@media (max-width: $mobile-width) {
  .about__wrapper {
    padding-top: 0;
  }

  .about__wrapper p:first-child {
    margin-bottom: 28px;
  }
}
