.about {
  padding-left: 80px;
}

.about__wrapper {
  padding-top: 6px;
}

.about__wrapper p:first-child {
  margin: 0;
  margin-bottom: 34px;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.about__wrapper p:first-child + p {
  position: relative;
  margin: 0;
  margin-bottom: 21px;
  padding-left: 28px;
}

.about__wrapper p:first-child + p svg {
  position: absolute;
  left: 0;
}

.about__phone {
  position: relative;
  display: block;
  margin: 0;
  padding-bottom: 10px;
  padding-left: 28px;
  text-decoration: none;
  color: $color-black;

  &:hover {
    text-decoration: underline;
  }
}

.about__phone svg {
  position: absolute;
  left: 0;
}

@media (max-width: $tablet-width) {
  .about {
    padding-left: 0;
  }

  .about__wrapper {
    margin-left: 0;
  }

  .about__wrapper p:first-child {
    margin-bottom: 27px;
  }

  .about__wrapper p:first-child + p svg {
    top: 5px;
  }

  .about__phone svg {
    top: 2px;
  }
}

@media (max-width: $mobile-width) {
  .about__wrapper {
    padding-top: 0;
  }

  .about__wrapper p:first-child {
    margin-bottom: 28px;
  }
}
