.about__wrapper {
  margin-left: 80px;
}

.about__question {
  margin: 0;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 500;
}

.about__adress {
  position: relative;
  margin: 0;
  margin-bottom: 21px;
  padding-left: 28px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 18px;
    height: 22px;
    background-image: url("../img/icon-pin.svg");
  }
}

.about__phone {
  position: relative;
  margin: 0;
  padding-left: 28px;
  text-decoration: none;
  color: $color-black;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-phone.svg");
  }
}

@media (max-width: $tablet-width) {
  .about__wrapper {
    margin-left: 0;
  }

  .about__question {
    margin-bottom: 40px;
  }

  .about__adress {
    padding-right: 34px;
  }
}
