.checkbox {
  position: relative;
  padding-bottom: 48px;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox span {
  position: absolute;
  display: flex;
  align-items: center;
  height: 18px;
  padding-left: 24px;
  color: $color-white;
  font-family: $main-font;
  font-size: 10px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: $color-white;
  }
}

.checkbox input:checked + span {
  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 3px;
    width: 12px;
    height: 8px;
    background-image: url("../img/icon-check-mark.svg");
    background-repeat: no-repeat;
  }
}

.checkbox input:focus + span {
  &::before {
    box-shadow: 0 0 0 2px #3b99fc;
  }
}


@media (max-width: $mobile-width) {
  .checkbox {
    padding-bottom: 50px;
  }

  .checkbox span {
    display: inline-block;
    height: 20px;
    padding-left: 28px;
    padding-right: 50px;
    vertical-align: baseline;

    &::before {
      width: 20px;
      height: 20px;
    }
  }

  .checkbox input:checked + span {
    &::after {
      top: 6px;
      left: 4px;
    }
  }
}
