.form {
  width: 403px;
  background-color: $color-dark-blue;
}

.form__block {
  display: flex;
  flex-direction: column;
  margin: 50px;
  margin-top: 44px;
}

.form__block p {
  margin: 0;
  margin-bottom: 28px;
  font-family: $main-font;
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  color: $color-white;
}

.form__inputs input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 21px;
  padding: 12px;
  padding-left: 15px;
  border: 1px solid transparent;
  font-family: $main-font;
  font-size: 14px;

  &::placeholder {
    font-size: 14px;
    color: $color-dark-blue;
  }
}

@media (max-width: $mobile-width) {
  .form {
    width: 100%;
  }

  .form__block {
    margin: 30px;
    margin-top: 35px;
    margin-bottom: 40px;
  }

  .form__block p {
    text-align: center;
    line-height: 140%;
  }

  .form__inputs input {
    &::placeholder {
      font-size: 14px;
    }
  }
}
