.header {
  padding-top: 35px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: $mobile-width) {
  .header {
    position: relative;
    flex-direction: column;
    padding-top: 10px;
  }

  .header__wrapper {
    position: relative;
    flex-direction: column;
    margin-top: 0;
  }

  .header__logo {
    margin-top: 10px;
  }
}
