.head {
  margin-top: -88px;
}

.head-top {
  display: flex;
  flex-direction: column;
  min-height: 650px;
  margin-bottom: 120px;
  background-color: $color-dark-blue;
  background-image: url("../img/bg-head-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  font-family: $main-font;
  color: $color-white;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &::after {
      background-image: url("../img/bg-head-background-mobile@2x.jpg");
    }
  }
}

.head-top__intro {
  margin-left: 95px;
  margin-top: 283px;
}

.head-top__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 54px;
  font-weight: 700;
}

.head-top__text {
  margin: 0;
  font-size: 20px;
}

.head-bottom__wrapper {
  display: flex;
  justify-content: space-between;
}

.head-bottom__promo {
  align-self: center;
  width: 50%;
  padding-right: 106px;
  font-family: $main-font;
  line-height: 150%;
}

.head-bottom__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 600;
}

.head-bottom__text {
  margin: 0;
}

.head-bottom__photo {
  max-width: 100%;
  height: auto;
}

@media (max-width: $tablet-width) {
  .head {
    margin-top: -79px;
  }

  .head-top {
    min-height: 638px;
    margin-bottom: 100px;
    background-image: url("../img/bg-head-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      &::after {
        background-image: url("../img/bg-head-background-tablet@2x.jpg");
      }
    }
  }

  .head-top__intro {
    margin-left: 0;
  }

  .head-bottom__promo {
    margin-right: 30px;
    padding-right: 0;
  }

  .head-bottom__title {
    width: 205px;
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 140%;
  }

  .head-bottom__img {
    width: 50%;
  }
}


@media (max-width: $mobile-width) {
  .head-top {
    min-height: 500px;
    margin-bottom: 100px;
    background-image: url("../img/bg-head-mobile@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      &::after {
        background-image: url("../img/bg-head-background-mobile@2x.jpg");
      }
    }
  }

  .head-top__intro {
    margin-top: 185px;
  }

  .head-top__title {
    font-size: 35px;
    line-height: 120%;
  }
}
