.main-footer {
  margin-top: auto;
  background-color: $color-dark-blue;
}

.main-footer__wrapper {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-footer__social {
  width: 150px;
  margin-left: auto;
}

@media (max-width: $mobile-width) {
  .main-footer__wrapper {
    flex-direction: column;
  }

  .main-footer__logo {
    margin-bottom: 20px;
  }

  .main-footer__nav {
    margin-bottom: 30px;
  }

  .main-footer__social {
    margin-right: auto;
    margin-left: 0;
  }
}
