@media (max-width: $mobile-width) {
  .nav-mobile {
    width: 100vw;
    margin-top: -44px;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 30px;
    background-color: $color-white;
  }

  .nav-mobile--js {
    position: absolute;
    width: 100vw;
    margin-top: -44px;
    margin-left: -30px;
    padding-top: 92px;
    padding-bottom: 44px;
    padding-left: 30px;
    background-color: #fff;
  }

  .nav-mobile__list {
    margin-left: 15px;
  }

  .nav-mobile__item {
    margin-left: 0;
  }

  .nav-mobile__link {
    font-size: 18px;
    color: $color-black;
  }
}
