@media (max-width: $mobile-width) {
  .nav-mobile {
    position: absolute;
    top: 0;
    padding: 0 15px;
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: $color-white;
  }

  .nav-mobile--nojs {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .nav-mobile__item {
    margin-left: 15px;
  }

  .nav-mobile__link {
    font-size: 18px;
    color: $color-black;
  }
}
