.order {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $color-light-blue;
  background-image: url("../img/bg-order-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-order-desktop@2x.jpg");
  }
}

.order__wrapper {
  display: flex;
  justify-content: space-between;
}

.order__text {
  align-self: center;
  width: 50%;
  margin-left: 60px;
  padding-bottom: 8px;
  font-family: $main-font;
}

.order h2 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
}

.order__text p {
  width: 350px;
  margin: 0;
  font-size: 18px;
  line-height: 150%;
}

.order__form {
  width: 50%;
  margin-right: 60px;
}

.order__button {
  padding: 13px 0;
  cursor: pointer;
  border: none;
}

@media (max-width: $tablet-width) {
  .order {
    padding-top: 88px;
    padding-bottom: 99px;
    background-image: url("../img/bg-order-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-order-tablet@2x.jpg");
    }
  }

  .order__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .order__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-bottom: 45px;
  }

  .order h2 {
    margin-bottom: 5px;
    font-size: 34px;
  }

  .order__text p {
    text-align: center;
  }

  .order__form {
    margin-right: 0;
  }
}

@media (max-width: $mobile-width) {
  .order {
    padding-top: 59px;
    padding-bottom: 65px;
    background-image: url("../img/bg-order-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-order-mobile@2x.jpg");
    }
  }

  .order__text {
    margin-bottom: 26px;
    text-align: center;
  }

  .order h2 {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 130%;
  }

  .order__text p {
    width: 100%;
    font-size: 16px;
    line-height: 140%;
  }
}
