.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 113px;
  font-family: $main-font;
  line-height: 150%;
}

.promo__desc {
  width: 50%;
  padding-right: 68px;
}

.promo__desc p:first-child {
  margin: 0;
  margin-bottom: 34px;
  font-size: 28px;
  font-weight: 600;
}

.promo__desc p:last-child {
  margin: 0;
}

.promo__photo {
  flex-shrink: 0;
  width: 50%;
  text-align: right;
}

.promo__photo img {
  max-width: 100%;
  height: auto;
}

@media (max-width: $tablet-width) {
  .promo__wrapper {
    padding-top: 90px;
    padding-bottom: 93px;
  }

  .promo__desc {
    padding-right: 0;
    margin-right: 30px;
  }

  .promo__desc p:first-child {
    margin-bottom: 16px;
    padding-right: 98px;
    font-size: 26px;
    line-height: 140%;
  }

  .promo__photo {
    flex-shrink: 1;
    margin-top: 8px;
  }
}

@media (max-width: $mobile-width) {
  .promo__wrapper {
    flex-direction: column;
    padding-top: 57px;
    padding-bottom: 58px;
  }

  .promo__desc {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
    padding-right: 0;
  }

  .promo__desc p:first-child {
    margin-right: 70px;
    margin-bottom: 17px;
    padding-right: 12px;
    font-size: 24px;
  }

  .promo__photo {
    width: 100%;
    text-align: center;
  }
}
