.social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 150px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.social__item {
  margin-left: 33px;
}

.social__link {
  display: block;
  padding: 10px 0;
}

@media (max-width: $tablet-width) {
  .social {
    width: 110px;
  }

  .social__item {
    margin-left: 23px;
  }

  .social__icon--facebook {
    width: 9px;
    height: 16px;
  }

  .social__icon--instagram {
    width: 16px;
    height: 16px;
  }

  .social__icon--twitter {
    width: 16px;
    height: 13px;
  }
}

@media (max-width: $mobile-width) {
  .social__item:first-child {
    margin-left: 0;
  }
}
