.toggle {
  display: none;
}

@media (max-width: $mobile-width) {
  .toggle {
    z-index: 1;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .toggle--icon-closed {
    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: 11px;
      right: 20px;
      display: block;
      background-image: url("../img/icon-menu-burger.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .toggle--icon-opened {
    &::before {
      content: "";
      position: absolute;
      top: 15px;
      right: 22px;
      display: block;
      width: 22px;
      height: 22px;
      background-image: url("../img/icon-menu-cross.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
    }
  }

  .toggle--hidden {
    display: none;
  }
}
