.toggle {
  display: none;
}

@media (max-width: $mobile-width) {
  .toggle {
    z-index: 1;
    position: absolute;
    display: block;
    top: 6px;
    right: 12px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .toggle span {
    position: relative;
    top: -8px;
    right: 0;
    display: inline-block;
    width: 24px;
    height: 2px;
    vertical-align: bottom;
    background-color: $color-white;

    &::before {
      content: "";
      position: absolute;
      top: -7px;
      left: 0;
      width: 100%;
      height: 2px;
      background: $color-white;
    }

    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 100%;
      height: 2px;
      background: $color-white;
    }
  }

  .toggle--close-icon span {
    background-color: transparent;

    &::before {
      top: 0;
      background-color: $color-dark-blue;
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &::after {
      top: 0;
      background-color: $color-dark-blue;
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }

  .toggle--hidden {
    display: none;
  }
}
