.travels {
  padding-top: 111px;
  padding-bottom: 90px;
}

.travels__wrapper {
  margin: 0 15px;
}

.travels__title {
  margin: 0;
  margin-bottom: 49px;
  font-family: $main-font;
  font-size: 28px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
}

.travels__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.travels__card {
  position: relative;
  width: calc((100% - 120px) / 4);
  margin-bottom: 29px;
  margin-left: 15px;
  margin-right: 15px;
}

@media (max-width: $desktop-width-1280) {
  .travels__card {
    width: calc((100% - 90px) / 3);
  }
}

@media (max-width: $desktop-width-1080) {
  .travels__card {
    width: calc((100% - 60px) / 2);
  }
}

@media (max-width: $tablet-width) {
  .travels {
    padding-top: 90px;
    padding-bottom: 70px;
  }

  .travels__title {
    font-size: 26px;
  }
}

@media (max-width: $mobile-width) {
  .travels {
    padding-top: 56px;
    padding-bottom: 35px;
  }

  .travels__title {
    margin-bottom: 30px;
    font-size: 24px;
  }

  .travels__card {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
