$mobile-width: 768px;
$tablet-width: 1024px;
$desktop-width-1080: 1080px;
$desktop-width-1280: 1280px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$main-font: "Montserrat", "Arial", sans-serif;

$color-white: #ffffff;
$color-dark-blue: #011c40;
$color-black: #000000;
$color-light-blue: #e3ecf6;
$color-grey: #d8d8d9;
